header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: var(--color-primary-6);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-4);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 
}



:root {
    --color-primary-1: #fff;
    --color-primary-2: #ffe8b4;
    --color-primary-3: #f8d477;
    --color-primary-4: #d1150e;
    --color-primary-5: #d1150e;
    --color-primary-6: #d1150e;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-1);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    color: #fff;
      text-decoration: none;
    border: none;
    outline: none;
}

.btn-default:hover {
    background-color:#a6a6a6;
}


 body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      padding: 20px;
    }

   .search-container {
  position: relative;
  display: flex;
  align-items: center;
}

#search-icon {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

#search-icon:hover {
  color: #d1150e;
}

#search-input {
  width: 0;
  opacity: 0;
  padding: 6px 10px;
  border: 2px solid #d1150e; 
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
  margin-left: 8px;
}


#search-input.active {
  width: 180px;
  opacity: 1;
}




.actions-container {
    display: flex;
    align-items: center;
    gap: 12px; 
}



.hero-banner {
    width: 100%;
    height: 500px; 
    background-image: url("capa1.png"); 
    background-size: cover;   
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    height: 75vh;
}

.hero-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    
}

.hero-content {
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .hero-banner {
        background-image: url("capaCelular1.png");
        height: 350px; 
        
    }

    .hero-banner::after {
        height: 350px;
    }
}



.scroll-down {
    text-align: center;
    margin-top: -40px;
    position: relative;
    z-index: 10;
}

.scroll-down a {
    font-size: 2rem;
    color: white;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(8px);}
    60% {transform: translateY(4px);}
}


.sobre-header {
    

    width: 100%;
    height: 500px; 
    background-image: url("retangulo.png"); 
    background-size: cover;   
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    height: 18vh;
}

.sobre-header h2 {
    font-size: 2rem;
    margin-bottom: 8px;
}

.sobre-header p {
    font-size: 25px;
}


.sobre-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px 8%;
}

.sobre-img img {
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sobre-texto {
    max-width: 600px;
    color: #333;
    line-height: 1.6;
    font-size: 19px;
}


    .sobre-container {
        flex-direction: column-reverse; 
        text-align: center;
    }

    .sobre-texto {
        max-width: 100%;
    }

    .sobre-img img {
        max-width: 100%;
    }
    
}





.scroll-down {
  text-align: center;
  margin: 20px 0;
}
.scroll-down a {
  font-size: 30px;
  color: #666;
  text-decoration: none;
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}


.contatos-header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;  
  row-gap: 1px;     
}



.contatos-header {
  row-gap: 5px;
  column-gap: 20px;
}


.contato-item p {
  margin: 0; 
}


.produtos-header {
  width: 100vw;
  background-color: #cf150f;
  color: white;
  text-align: center;
  padding: 35px 10px;
}

.produtos-header p{
 font-size: 25px;
}

.contatos-header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.contato-item i {
  font-size: 22px;
}

.contato-item:hover {
  color: #ffd700; 
  transform: scale(1.05);
}

.whatsapp-img {
  width: 33px; 
  height: auto;
}

@media (max-width: 768px) {
 .whatsapp-img {
  width: 28px;  
  height: auto;
 
}
.contato-item i {
  font-size: 18px;
}
.produtos-header p{
 font-size: 21px;
}
  .contatos-header {
    flex-wrap: nowrap;          
    overflow-x: auto;           
    justify-content: center;    
    gap: 20px;                  
  }

    .produtos-header .assitencia{
        font-size: 26px;
    }
}




.produtos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}


.produto-card {
  position: relative;
  background: #fff;
  border: 1px solid #eee;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.produto-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.produto-card:hover img {
  transform: scale(1.05);
}


.produto-card .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  background: rgba(255, 0, 0, 0.7);
  padding: 20px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.produto-card:hover .overlay {
  opacity: 1;
}


.produto-card p {
  margin-top: 15px;
  font-weight: bold;
}


@media (max-width: 768px) {
  .produtos-container {
    grid-template-columns: 1fr;
  }
}




.descricao-aplicacoes {
  max-width: 1000px;
  margin: 0 auto 40px auto;
  text-align: center;
  font-size: 19px;
  color: #333;
  line-height: 1.6;
  padding: 0 20px;
}


.aplicacoes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.aplicacao-card {
  text-align: center;
  border: 1px solid #eee;
  background: #fff;
}

.aplicacao-card img {
  width: 100%;
  height: auto;
  display: block;
}

.aplicacao-card p {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}


@media (max-width: 768px) {
  .aplicacoes-grid {
    grid-template-columns: 1fr;
  }

  .aplicacao-card p {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
}



.faq-section {
  background: url("fundofac.png") no-repeat center center/cover;
  padding: 80px 20px;
  height: 50vh;
}


.faq-container {
  max-width: 800px;
  margin: 0 auto;
  background: rgba(60, 20, 20, 0.9); 
  border-radius: 10px;
  padding: 40px;
  color: #fff;
}


.faq-container h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}


.faq-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  padding-bottom: 10px;
}


.faq-question {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 19px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question .arrow {
  transition: transform 0.3s;
}


.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-answer p {
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 1.6;
}


.faq-item.active .faq-answer {
  max-height: 200px; 
}

.faq-item.active .arrow {
  transform: rotate(180deg);
}
@media (max-width: 768px){
    .faq-section {
  background: url("fundofac.png") no-repeat center center/cover;
  padding: 80px 20px;
  height: 75vh;
}
}



   body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            max-width: 1100px;
            margin: 50px auto;
            background-color: #f3f3f3;
            align-items: center;
            justify-content: space-between;
        }

        .imagem {
            width: 45%;
            text-align: center;
        }

        .imagem img {
            max-width: 100%;
            height: auto;
        }

        .formulario {
            width: 50%;
            background-color: #fff;
            padding: 40px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .formulario h2 {
            margin-top: 0;
            margin-bottom: 20px;
        }

        .formulario input,
        .formulario textarea {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            font-size: 16px;
            box-sizing: border-box;
        }

        .formulario textarea {
            resize: vertical;
        }

        .formulario button {
            background-color: #b60000;
            color: white;
            border: none;
            padding: 12px 25px;
            font-size: 16px;
            cursor: pointer;
        }

        .formulario button:hover {
            background-color: #900000;
        }

        @media (max-width: 900px) {
            .container {
                flex-direction: column;
            }
            .imagem, .formulario {
                width: 100%;
            }
            .formulario {
                padding: 20px;
            }
        }



        footer li {
    margin-bottom: 6px;
    color: #ddd;
    font-size: 14px;
}
footer a:hover {
    text-decoration: underline;
}


.botao-seta {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.botao-seta img {
    width: 50px;
    height: 50px;
    display: block;
}

.botao-seta:hover {
    transform: scale(1.1);
}



.whatsapp-flutuante {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    animation: pulse 1.5s infinite;
}


.whatsapp-flutuante img {
    width: 60px;
    height: 60px;
    display: block;
}

.whatsapp-flutuante:hover {
    transform: scale(1.2);
}


@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 15px 10px rgba(37, 211, 102, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
}
